[submodule "Castle.Core"]
	path = Castle.Core
	url = git://github.com/castleproject/Castle.Core.git
[submodule "Castle.ActiveRecord"]
	path = Castle.ActiveRecord
	url = git://github.com/castleproject/Castle.ActiveRecord.git
[submodule "Castle.Components.Binder"]
	path = Castle.Components.Binder
	url = git://github.com/castleproject/Castle.Components.Binder.git
[submodule "Castle.Components.Scheduler"]
	path = Castle.Components.Scheduler
	url = git://github.com/martinernst/Castle.Components.Scheduler.git
[submodule "Castle.Components.Validator"]
	path = Castle.Components.Validator
	url = git://github.com/castleproject/Castle.Components.Validator.git
[submodule "Castle.Facilities.ActiveRecordIntegration"]
	path = Castle.Facilities.ActiveRecordIntegration
	url = git://github.com/castleproject/Castle.Facilities.ActiveRecordIntegration.git
[submodule "Castle.Facilities.AutomaticTransactionManagement"]
	path = Castle.Facilities.AutomaticTransactionManagement
	url = git://github.com/castleproject/Castle.Facilities.AutomaticTransactionManagement.git
[submodule "Castle.Facilities.NHibernateIntegration"]
	path = Castle.Facilities.NHibernateIntegration
	url = git://github.com/castleproject/Castle.Facilities.NHibernateIntegration.git
[submodule "Castle.MonoRail"]
	path = Castle.MonoRail
	url = git://github.com/martinernst/Castle.MonoRail.git
[submodule "Castle.Services.Transaction"]
	path = Castle.Services.Transaction
	url = git://github.com/castleproject/Castle.Services.Transaction.git
[submodule "Castle.Windsor"]
	path = Castle.Windsor
	url = git://github.com/martinernst/Castle.Windsor.git
[submodule "fluent-nhibernate"]
	path = fluent-nhibernate
	url = git://github.com/jagregory/fluent-nhibernate.git
[submodule "nhibernate"]
	path = nhibernate
	url = git://github.com/JamesKovacs/nhibernate.git
[submodule "NHibernate.Caches"]
	path = NHibernate.Caches
	url = git://github.com/martinernst/NHibernate.Caches.git
[submodule "NHibernate.Mapping.Attributes"]
	path = NHibernate.Mapping.Attributes
	url = git://github.com/martinernst/NHibernate.Mapping.Attributes.git
[submodule "NHibernate.Search"]
	path = NHibernate.Search
	url = git://github.com/martinernst/NHibernate.Search.git
[submodule "NServiceBus"]
	path = NServiceBus
	url = git@github.com:martinernst/NServiceBus.git
[submodule "rhino-dsl"]
	path = rhino-dsl
	url = git://github.com/ayende/rhino-dsl.git
[submodule "rhino-mocks"]
	path = rhino-mocks
	url = git://github.com/ayende/rhino-mocks.git